Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
autom4te.cache
src/.deps
src/Makefile
src/Makefile.in
src/list-test
src/*.o
stamp-h1
config.h
config.h.in
*~
